

#sec1{
	background-image : url("images/bg1.jpg");
	background-position : center;
	min-height: 100vh;
	width:100%;
	background-size:cover;
	position:relative;
	
}
body{
	margin: 0 auto;
}
nav{
	display:flex;
	padding:2% 6%;
	justify-content:space-between;
	align-items:center;
}
#sec1content{

}
#zippy{
	font-weight : bold;
	font-family : arial;
	letter-spacing : -3px;
	color : white;
	float:left;
	margin-left:-50px;
	

}
.toptab{
	list-style:noe;
	display:inline-block;
	padding:8px 12px;
	position:relative;
	
}
.toptab a{
	color:#fff;
	text-decoration:none;
	font-size:17px;
}
.toptab::after{
	content:"";
	width:0%;
	height:2px;
	background:#f44336;
	display:block;
	margin:auto;
	transition:0.5s;
}

}
.toptab:hover::after{
	width:100%;
}
#toptabdiv{
	flex:1;
	text-align:right;
}
#writingmain{
	font-weight : bold;
	display:block;
	clear:both;
	font-family : arial;
	color:white;
	font-size:50px;
	letter-spacing : -1.5px;
}
#test{
	
	margin-inline:auto;
	width:min(80%,70.5rem);
}
#writingsub{
	color : white;
	font-size : 25px;
	font-family : arial;
	letter-spacing : -1.5px;

}



.learnmorebtn{
	width:200px;
	height : 60px;
	background-color:#774A8E;
	border-width:0px;
	border-radius:5px;
	color:white;
}
.learnmorebtn:hover{
	background-color: #E1E127;
	color:black;
}
#bars{
	float:right;
	
	left:600px;
}
nav .fas{
	display:none;
}
@media(max-width:780px){
	#writingmain{
		margin-top: 50%;
		font-size: 30px;
	}
	#writingsub{
		font-size:20px;
	}
	.learnmorebtn{
		width:100px;
		height:35px;
		font-size:10px;
	}
	#toptab{
		display:block;
	}
	#toptabdiv{
		position:absolute;
		background-color: antiquewhite;
		height:100vh;
		width:150px;
		top:0;
		right:-200px;
		text-align:left;
		transition :1s;
		z-index:2;
	}
	nav .fas{
		display:block;
		color:#fff;
		margin:10px;
		font-size:22px;
		cursor:pointer;
	}
}
#welcome{
	text-align : center;
	font-weight : bold;
	font-family:arial;
	font-size: 52px;
	letter-spacing:-2.5px;
	
}
#welcomewriting{
	float:left;
	height:50px;
	font-size:25px;
	width:60%;
}
#test2{
	margin-inline:auto;
	width:min(80%,70.5rem);
	font-family: 'Open Sans', sans-serif;
	font-size:30px;
	

}
#umbrella{
	width:30%;
	height: 27%;
	float:right;
	margin-right : 30px;
	margin-top:10px;
}
@media(max-width:1060px){
	#welcomewriting{
		font-size:18px;
	}
}
#circleicons{
	width : 33%;

	margin-top : 0;
	list-style-type : none;
	float: left;
	text-align : center;
	font-size:20px;
	font-family : arial;
	letter-spacing :-1px;
}
#circleicon{
	display:flex;
	text-align:center;

	width:27%;
	height:75px;
	background-color :#774A8E;
	border-radius : 50%;
	border-width:17px;
	border : solid 15px #774A8E;
	margin-left:70px;
}
#icontitle{
	font-weight : bold;
	text-transform:uppercase;
	font-size:15px;
	margin-left:-30%;
	color:#774A8E;
}
#iconwriting{
	font-size:14px;
	width:60%;
	color:darkslategrey;
}
#iconlearns{
	margin-left:-105px;
	width:50%;
	height : 40px;
	background-color : rgb(212, 198, 2);
	border-width:0px;
	border-radius:5px;
	color:white;
	font-size:15px;
}
#iconlearns:hover{
	background-color:#774A8E;
	color:black;

}
@media(max-width:800px){
	#iconwriting{
		font-size:12px;
	}
	#umbrella{
		height:18%;
	}
	#circleicon{
		margin-left:30px;
		height:50px;
		
	}
	#icontitle{
		font-size:12px;
		text-align:center;
		
	}
	#iconlearns{
		font-size:11px;
		margin-left:-40%;
	}
}
#borderline{
	width:62%;
	height:3px;
	margin:0 19% 0 19%;

	
	
	background-color :rgb(187, 187, 187);

}
#projectheading{
	text-align : center;
	font-weight : bold;
	font-family:arial;
	font-size: 52px;
	letter-spacing:-2.5px;
}
#brochure{
	margin-left: -40;
	margin-right:0px;
	height: 400px;
   
	
}
#brochli{
	width : 25%;
	background-color:rgb(212, 198, 2);
	margin-top : 0;
	list-style-type : none;
	float: left;
	text-align : center;
	font-size:20px;
	font-family : arial;
	letter-spacing :-1px;
	margin:0px;
	
}
#brochimg{
	width:100%;
	height:430px;
	
}
#sec3{
	margin:0;
}
#brochwrite{
	width : 100%;
	background-color:silver;
	margin-top : 0;
	list-style-type : none;
	float: left;
	text-align : center;
	font-size:20px;
	font-family : arial;
	letter-spacing :-1px;
	height:60%;
}
#brochwrite2{
	height:240px;
	width : 100%;
	background-color:rgb(187, 187, 187) ;
	margin-top : 0;
	list-style-type : none;
	float: left;
	text-align : center;
	font-size:20px;
	font-family : arial;
	letter-spacing :-1px;
}
#writingbroch{
	width:80%;
	display:flex;
	text-align:left;
	margin:35px;
	font-size:14px;
	margin-top:-5px;
}
#brochhead{
	margin-left:35px;
	padding-top : 30px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	color:black;
}
#casestudy{
	margin-top:-5px;
	margin-left:35px;
	height:35px;
	width:170px;
	border-radius:3px;
	background:white;
	border-width:0px;
	font-size:12px;
	font-weight:bold;
	transition:0.6;
}
#brochwrite:hover{
	background-color:rgb(212, 198, 2);
}
#brochwrite2:hover{
	background-color:rgb(212, 198, 2)
}
#casestudy:hover{
	background-color:#774A8E;
	transform:scale(1.1);
	color:white;
}
@media(max-width:899px){
	#brochhead{
		font-size:17px;
	}
	#brochwrite{
		font-size:12px;
	}
	#brochwrite2{
		font-size:12px;
	}
	#casestudy{
		width:100px;
		font-size:11px;
	}
	
}
#test4{
	clear:both;
	margin:0 19% 0 19%;
	font-family: 'Open Sans', sans-serif;
	font-size:30px;
	padding-top:20px;
	margin-top:20px;
}
#pricingheading{
	text-align : center;
	font-weight : bold;
	font-family:arial;
	font-size: 52px;
	letter-spacing:-2.5px;
	padding-left:20px;
	
}
#white{
	color:white;
}
#pricingul{	
}

#pricingli{
	text-align :center;
	list-style-type:none;
	float:left;
	width:33%;
	font-size:22px;

}
#priceh5{
	font-weight:bold;
}
#price{
	color : lightslategrey;
	font-size:16px;
}
#pricewrite{
	text-align:center;
	font-size:13px;
	font-weight:bold;
}
#buybtn{
	height:35px;
	width:110px;
	background-color :rgb(236, 227, 91);
	font-size : 14px;
	border-radius:5px;
	border-width:0px;
	font-weight:bold;
}
@media(max-width:850px){
	#priceh5{
		font-size:13px;
	}
	#pricewrite{
		font-size:12px;
	}
	#price{
		font-size:13px;
	}
	#buybtn{
		width:60px;
		font-size:11px;
	}
}
#buybtn:hover{
	background-color:#774A8E;
	color:white;
	
}
.midli{
	border-right:2px lightgrey solid;
	border-left:2px lightgrey solid;
}
#test5{
	clear:both;
	margin-top:400px;
	background-color:#774A8E;
	height:570px;
	
}

#videoheading{
	color:white;
	text-align : center;
	font-weight : bold;
	font-family:arial;
	font-size: 52px;
	letter-spacing:-2.5px;
	padding-left:20px;
}
#hori_slider{
	
	display:flex;
	width:100%;
	overflow-x:scroll;
	box-sizing:border-box;
}
#hori_slider::-webkit-scrollbar{
	display:none;

}
#slidercontainer{
	display:flex;
	white-space : nowrap;
}
#item{
	width: 600px;
	height:350px;
	float:left;
	display:inline-block;
	margin-right:100px;
	border-radius:5px;
}

#test6{
	clear:both;
	margin:0 19% 0 19%;
	font-family: 'Open Sans', sans-serif;
	font-size:30px;
	padding-top:20px;
	margin-top:20px;
	text-align:center;
	margin-bottom:10px;
}
#videotitle{
	text-align : center;
	font-weight : bold;
	font-family:arial;
	font-size: 52px;
	letter-spacing:-2.5px;
	padding-left:20px;
}
#row1{
	text-align:center;
	margin-left:70px;
}
#person{
	float:left;
	width:200px;
	margin:40px;
}
#personpic{
	width:150px;
	height:150px;
	border-radius:50%;
	transition:2;
}
#personname{
	font-size:15px;
	font-weight:bold;
}
#persondescri{
	color:lightslategray;
	font-size:14px;
	margin-top:-10px;
}
#row2{
	text-align:center;
	margin-left:70px;

}
#personpic:hover{
	opacity:0.5;
	transform:scale(1.1);
}
#test7{
	clear:both;
	height:770px;
	background-color : lightgray;
	margin-bottom:0px;
}	
#sec7{
	margin-bottom:0px;
}
#lifeheading{
	text-align : center;
	font-weight : bold;
	font-family:arial;
	font-size: 52px;
	letter-spacing:-2.5px;
}
#teamheading{
	text-align : center;
	font-weight : bold;
	font-family:arial;
	font-size: 52px;
	letter-spacing:-2.5px;
}
#sec8{
	clear:both;
	background : url("images/bridge.jpg");
	height:300px;
	background-size:100% 100%;
	background-repeat:no-repeat;
	margin-top:-10px;
	text-align : center;
}
#newsletterhead{
	text-align : center;
	font-weight : bold;
	font-family:arial;
	font-size: 52px;
	letter-spacing:-2.5px;
	color: white;
}
#newstext{
	margin-top : 5px;
	width:400px;
	height:40px;
	
	border : 0px;
}
#newssubmit{
	width:150px;
	height:40px;
	background-color: #774A8E;
	color:white;
	border:0px;
	margin-left:-5px;
	font-size:13px;
}
#newssubmit:hover{
	background-color:#E1E127;
	color:black;
}
#sec9{
	clear:both;
	margin-inline:auto;
	width:min(80%,70.5rem);
	font-family: 'Open Sans', sans-serif;
	font-size:30px;
	padding-top:20px;
	margin-top:20px;

}
#bloghead{
	text-align : center;
	font-weight : bold;
	font-family:arial;
	font-size: 52px;
	letter-spacing:-2.5px;
}

#blogli{
	text-align :center;
	list-style-type:none;
	float:left;
	width:33%;
	font-size:22px;

}
#blogh5{
	margin-left:15%;
	font-weight:bold;
	width:70%;
}
#blog{
	color : lightslategrey;
	font-size:16px;
}
#blogwrite{
	text-align:center;
	font-size:14px;
	font-weight:bold;
	width:65%;
	margin-left:45px;
}
#readmore{
	margin-top:-10px;
	height:35px;
	width:110px;
	background-color :rgb(236, 227, 91);
	font-size : 14px;
	border-radius:5px;
	border-width:0px;
	font-weight:bold;
}
#readmore:hover{
	background-color:#774A8E;
	color:white;
	
}
#blogpic{
	width:70%;
	height:130px;
}
#mappic{
	width:50%;
	float:left;
	margin-top:80px;
	height:630px;
}
#test10{
	margin-top:30px;
}

#contact{
	clear:right;
	background-color:#E1E127;
	height:630px;
	width:50%;
	float:right;
	margin-top:80px;
}
#minicontact{
	margin-left:40px;
}
#contacthead{
	margin-top:7px;
	font-weight : bold;
	font-family:arial;
	font-size: 52px;
	letter-spacing:-2.5px;
}
@media(max-width:750px){
	#mappic{
		width:0px;
	}
	#contact{
		width:100%;
	}
}
#thing{
	font-size:12px;
	font-weight:bold;
	margin-bottom:0px;
}
#textbox{
	border: 0px;
	width:300px;
	height:35px;
	margin-top:-20px;
}
#msgbox{
	border: 0px;
	width:300px;
	height:100px;
	margin-top:-20px;

}
#sendbtn{
	width:300px;
	height:33px;
	border:0px;
	background-color: #774A8E;
	color:white;
	font-size:11px;
	font-weight:bold;
}
#sec11{
	clear:both;
	clear:both;
	margin:0 19% 0 19%;
	font-family: 'Open Sans', sans-serif;
	font-size:30px;
	padding-top:20px;
	margin-top:20px;
	height:200px;
}
#footerli{
	text-align :center;
	list-style-type:none;
	float:left;
	width:33%;
	font-size:22px;

}

#footerwrite{
	text-align:center;
	font-size:13px;

	width:100%;
	margin-left:45px;
}
#footerheads{
	margin-left:50px;
	font-weight:bold;
	width:100%;
	font-size:14px;
	margin-bottom:20px;
}
#footicons{
	/* background-color:aqua; */
	height:100px;
	justify-content: center;
	padding-left:35%;
}
#icons{
	width:100%;
	height:30px;
}
#iconli{
	list-style-type:none;
	float:left;
	width:25%;
	height:35px;
	margin-right:5%;
}
#iconsul2{
	clear:both;
	margin-top:30px;
}
#icons:hover{
	transform:scale(1.1);
}
@media(max-height:1000px){
	#iconsli{
		width:10px;
	}

}